<!DOCTYPE html>
<html lang="en" ng-app="landmarkRemarkApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <meta name="fragment" content="!">
  <title>Landmark Remark</title>

  <!-- Base url for the app -->
  <base href="/">

  <!-- CSS -->
  <!-- build:css app.min.css -->
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="compiled.min.css">
  <!-- endbuild -->

</head>
<body>

  <!-- Content -->
  <div ng-view autoscroll="true"></div>

  <!-- Dependencies and plugins -->
  <!-- build:js app.min.js -->
  <script type="text/javascript" src='bower_components/angular/angular.js'></script>
  <script type="text/javascript" src='bower_components/angular-route/angular-route.js'></script>
  <script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
  <script type="text/javascript" src='bower_components/lodash/dist/lodash.js'></script>
  <script type="text/javascript" src="bower_components/ngmap/build/scripts/ng-map.js"></script>
  <script type="text/javascript" src='bower_components/ngstorage/ngStorage.js'></script>

  <!-- App scripts -->
  <script type="text/javascript" src='app/app.js'></script>
  <script type="text/javascript" src='app/app.routes.js'></script>
  <script type="text/javascript" src='app/app.factory.js'></script>
  <script type="text/javascript" src='app/app.run.js'></script>

  <!-- Pages, Components & Services-->
  <script type="text/javascript" src="app/pages/index/indexController.js"></script>
  <script type="text/javascript" src="app/components/map/mapDirective.js"></script>
  <script type="text/javascript" src="app/components/map/mapController.js"></script>
  <script type="text/javascript" src="app/services/locationService.js"></script>
  <script type="text/javascript" src="app/services/userService.js"></script>

  <!-- App Templates (Cached HTML) -->
  <script type="text/javascript" src="templates.js"></script>
  <!-- endbuild -->
</body>
</html>
