<div id="page-index" layout="column" ng-cloak>
  <section layout="row" flex>

    <md-sidenav class="md-sidenav-left sidebar-landmark" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"
                md-whiteframe="4">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Landmark Remark</h1>
      </md-toolbar>
      <md-content layout-padding>
        <form>
          <md-input-container>
            <label for="testInput">Search notes & users</label>
            <input type="text" id="testInput" ng-model="searchText" md-autofocus>
          </md-input-container>
        </form>
        <md-list flex>
          <md-list-item class="md-2-line" ng-repeat="marker in mapMarkers | filter: searchFilter">
            <div class="md-list-item-text">
              <h3>{{ marker.text }}</h3>
              <p class="userName">{{marker.userName}}</p>
            </div>
          </md-list-item>
        </md-list>
        <md-button ng-click="closeSidebar()" class="md-primary" hide-gt-sm>
          Close
        </md-button>
      </md-content>
    </md-sidenav>

    <md-content  flex map-lazy-load="https://maps.google.com/maps/api/js">
      <landmark-map></landmark-map>

      <md-button id="mobile-toggle-sidebar" class="md-fab md-primary" aria-label="Show list" ng-click="toggleSidebar()" hide-gt-sm>
        <md-icon md-svg-src="images/menu.svg"></md-icon>
      </md-button>
      <div flex></div>
    </md-content>

  </section>
</div>
